:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

a {
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-family: inherit;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}


.middle{
  border: 1px solid greenyellow;
  color: white;
  background-color:rgb(62, 83, 107);
  height:25rem;
}
.services{
    text-decoration: underline;
    font-style: italic;
    font-size: 1.2rem;
}
.items{
  display: flex;
  gap: 4rem;
}

.packages{
  padding: 0.8rem;
  height:26rem;
}

.service-item{
  display: flex;
  height: 70%;
}

.li-packages{
  display: flex;
  gap:3rem;
}

.p1{
 
  height: 17rem;
  border-radius:1rem;
  width: 13rem;
  padding: 2rem;
  color: #ffffff;
  background-color:rgb(133, 9, 248);
}

.Diamond{
  color: goldenrod;
}
.subscribe{
  cursor: pointer;
  background-color: green;
  max-width: 50%;
  padding: 0.5rem;
  border-radius: 0.5rem;
}
.cost{
  color: #f1e20c;
}
.package-header{
  font-size:2rem;
  color: #535bf2;
  text-decoration: underline;
}
.mbps{
  color: rgb(1, 236, 158);
}
.span{
  border-radius: 0.5rem;
  max-height: 2rem;
  padding: 0.1rem;
  text-align: center;
}
/*for topping image in the middle*/


.service-p{
  font-weight: 600;
}

.Contact-us{
  margin-top: 2rem;
  height:fit-content;
  border-radius: 1rem;
  padding: 0.5rem;
  background-color: #b8ebd1;
}
.call-items{
  display: flex;
  gap: 2rem;
}
.cont-head{
  color: rgb(207, 150, 230);
  cursor: pointer;
}

img{
  border-radius: 10px;
}

.service-2{
  width: 50%;
  height: auto;
  padding:1rem;
}
.modal {
  width: auto;
  height: auto;
  display: flex;
  padding: 2rem;
  border: 2px solid blue;
}

.modal-content {
  min-width: 50%;
  min-height: auto;
  color: white;
  background-color:rgb(95, 104, 145);
  border-radius: 0.9rem;
  border: 2px solid black;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 1.2rem;
  border-right: none;
}

.form {
  display: flex;
  flex-direction: column;
}

.item {
  display: flex;
  gap:2rem;
  margin-bottom: 10px;
}

.label {
  margin-bottom: 5px;
}

.input {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  color: #ffffff;
}

.book-now {
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.book-now:hover {
  background-color: #0056b3;
}
 .input{
  border-radius: 0.3rem;
  box-shadow: #303131;
  width:30%;
  color: black;
 }               

.button-list{
  display: flex;
  gap: 10%;
}

.form-advert{
  width: 50%;
  height: auto;
  border: 2px solid rgb(7, 7, 7);
  border-radius: 0.9rem;
  padding:0.2rem;
  border-left: none;
  background-color:rgb(95, 104, 145);
}

.Get-fibre{
  font-size: 1.4rem;
  color: #c8adfc;
}
.book-button{
  background-color:green;
  color: white;
  max-width: auto;
}

.cancel-button{
  background-color:red;
  color: white;
  max-width: auto;
}

.form{
  border: 1px solid black;
}

.welcome-words{
  font-weight: 500;
}
@media (max-width:760px) {
  :root {
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
  .p1{
    height:fit-content;
    width: 70%;
    padding: 0.9rem;
    text-align: center;
  }
  .li-packages{
    display: flex;
    flex-direction: column;
    height: fit-content;
    justify-content: center;
    align-items: center;
    gap: 0.9rem;
  }
  .package-header{
    font-size: 1rem;
  }

  .form-advert{
    display: none;
  }
  .input{
    width: 50%;
  }
  .service-p{
    font-size: 0.8rem;
  }
  .packages{ 
    height: fit-content;
  }
  .call-items{
    gap:0.2rem;
  }
  .c-icons{
     width: 15%;
  }
  
}


